@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color1: #80EFAA;
    --color2: #808DEF;
    --color3: #EF80C5;
    --color4: #EFE280;
    --primaryfont: "Anybody", serif;
  }

body {
    font-family: var(--primaryfont);
}

main {
    background: linear-gradient(45deg,var(--color2),var(--color3),var(--color4),var(--color1));
    padding: 33px;
    width: 50%;
    margin: 0 auto 0 auto;
    position: relative;
}
span {
    margin: 10px;
    padding: 10px;
    font-size: 4rem;
    float: left;
}
blockquote {
    
}